<div class="w-full">
  <div class="userbox">
    <div class="userinfocontainer">
      <div class="userinfo">Max Mustermann</div>
      <div class="userinfo">ID: 100000</div>
      <div class="userinfo">Bochum</div>
      <div class="userinfo">Lager 2</div>
      <div class="userinfo">450€ (RV-Pflicht)</div>
    </div>
    <div class="subheader">
      <a routerLink="/mitarbeiter/schichten" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="navbutton">Schichten</button></a>
      <a routerLink="/mitarbeiter/arbeitszeiten" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="navbutton">Arbeitszeiten</button></a>
    </div>
  </div>
</div>
