<div class="w-full">
  <div class="flex flex-col justify-start">
    <div class="bg-lime-300 flex flex-row p-8">
      <div class="mx-2 font-bold">Max Mustermann</div>
      <div class="mx-2 font-bold">ID: 100000</div>
      <div class="mx-2 font-bold">Bochum</div>
      <div class="mx-2 font-bold">Lager 2</div>
      <div class="mx-2 font-bold">450€ (RV-Pflicht)</div>
    </div>
    <div class="flex flex-row bg-cyan-400 p-8">
      <a routerLink="/mitarbeiter/schichten" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="navbutton">Schichten</button></a>
      <a routerLink="/mitarbeiter/arbeitszeiten" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="navbutton">Arbeitszeiten</button></a>
    </div>
  </div>
</div>
