<div class="flex justify-end bg-cyan-200">
  <a routerLink="/dynamic" routerLinkActive="active" ariaCurrentWhenActive="page"> <button class="navbutton">Dyanmic Module Loading</button></a>
  <a routerLink="/mitarbeiter" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="navbutton">Static Module Loading</button></a>
  <a routerLink="/subheader" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="navbutton">Subheader of Mitarbeiter Port 4400</button></a>
  <a routerLink="/schichtenansicht-component" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="navbutton">Schichtenansicht</button></a>
  <a routerLink="/mitarbeiteransicht-component" routerLinkActive="active" ariaCurrentWhenActive="page"><button class="navbutton">Mitarbeiteransicht</button></a>
</div>
