<div class="flex justify-end bg-cyan-200">
  <button class="navbutton"><a routerLink="/dynamic" routerLinkActive="active" ariaCurrentWhenActive="page">MFE Dynamic! Mitarbeiteransicht</a></button>
  <button class="navbutton"><a routerLink="/mitarbeiter" routerLinkActive="active" ariaCurrentWhenActive="page">MFE Mitarbeiteransicht</a></button>
  <button class="navbutton"><a routerLink="/schichtenansicht-component" routerLinkActive="active" ariaCurrentWhenActive="page">Schichtenansicht</a></button>
  <button class="navbutton"><a routerLink="/mitarbeiteransicht-component" routerLinkActive="active" ariaCurrentWhenActive="page">Mitarbeiteransicht</a></button>
</div>
